.header{
    width: 100%;    
}
.header .logo{
    width: 109px;
    height: 45px;
    float: left;
    margin-left: 360px;
    margin-top: 26px;   
}
.header .tishi{
    width: 900px;
    height: 28px;
    float: left;
    font-family: "微软雅黑";
    font-size: 12px;
    border: 1px solid #FFB4A8;
    background-color: #FEF2F2;
    text-align: center;
    line-height: 28px;
    margin-top: 26px;
    margin-left: 98px;
}
.header .tip{
    float: right; 
    margin-right:360px; 
    margin-top: 10px;
}
.header .tip img{
    display: inline;
    vertical-align: middle;    
}
.clerafix::after{
    display: table;
    content: "";
    clear: both;
}
.body{
    background:url(../banner.jpg) no-repeat 50% 50%;
    height: 600px;
    position: relative;
    
}
.body .login{
    width: 352px;
    height: 369px;

    background-color: white;
    position: absolute;
    right: 361px;
    top:121px; 
}
.body .login h4{
    font-size: 16px;
    margin-top: 39px;
    margin-left: 27px;
}
.body .login .name{
    display: inline-block;
    background-image: url(../img/user_icon.png) no-repeat;     
}
.body .login .name input{
    width: 260px;
    height:38px;
    margin-left: 67px;
    margin-top: 30px;
    font-size: 14px;
    
}
/* .body .login .name input:focus{
    border:1px solid white;
} */
.body .login .pwd{
    display: inline-block;
    background-image: url(../img/pass_icon.png) no-repeat;     
}
.body .login .pwd input{
    width: 260px;
    height:38px;
    margin-left: 67px;
    margin-top: 30px;
}
/* .body .login .pwd input:focus{
    border-color: transparent;
} */
.body .login .sub button{
    width: 300px;
    height: 42px;
    background-color: #f40;
    margin-left: 31px;
    margin-top: 20px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    outline: white;
}
.body .login .sub button:hover{
    background-color:#f54607 ;
    outline: none;
}

.body .login .qwlogin{
    margin-left: 26px;
    margin-top: 27px;
    position: relative;
}
.body .login .qwlogin .b{
    position: absolute;
    left:120px
}
.body .login .qwlogin .b img{
    display: inline;
    vertical-align: middle;
}
.body .login .qwlogin .a img{
    display: inline;
    vertical-align: middle;
}
.body .login .qwlogin .b:hover{
    color: #FF4400;
}
.body .login .qwlogin .a:hover{
    color: #FF4400;
}

.body .login .last a{  
    margin-top: 15px;
    float: right;
    margin-right: 26px;
}
.body .login .last a:hover{
    color: #FF4400; 
}
.foot {
    margin-top: 62px;
    margin-left: 360px;
    margin-right: 360px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}
.foot .db{
    padding: 10px;
    
}
.foot .db a{
    display: inline-block;
    margin-left:20px;
    color: #6c6c6c;
}
.foot .db a:hover{
    color: #FF4400;
}
.foot .db a .first{
   margin-left: 0px;
}
.aaa{
    margin-left: 360px;
    display: inline-block;
    color: #6c6c6c;
    margin-top: 3px;
}
.aaa a{
    margin-left: 5px;
   
}
.aaa a:hover{
    color:#FF4400
}
.two{
    
   padding-left:360px ;
}


